<h2>
    GRAFICOS ESTADÍSTICOS</h2>
<hr>

<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Estado de las bicicletas</h3>
            </div>
            <div class="card-body">
                <p class="card-text pl-5">
                    Disponibles y Rotas <br>
                </p>
                <figure id="pie"></figure>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bicicletas disponibles</h3>
            </div>
            <div class="card-body">
                <p class="card-text pl-5">
                    Garita y Rectorado <br>
                </p>
                <figure id="bar"></figure>
            </div>

        </div>
    </div>

    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bicicletas alquiladas</h3>
            </div>
            <div class="card-body">
                <p>Numero de veces que han sido alquiladas</p>
                <figure id="barHor"></figure>
            </div>
        </div>
    </div>
</div>