

#pick_button{
    text-align: center;
}

.camera{
    
    text-align: center;
}
    
    
    #canvas{
        display: none;
    }

.hidden{
    display: none;
}
.visible{
    display: inline-block;
}

.problema{
    margin: 10%;
}

.contenedor_botones{
    text-align: end;
    margin-left: 7%;
}