
<h2 class="text-muted">Reportar una bicicleta</h2>
<div class="pick_button">
    <button class="btn btn-primary" id="startbutton">Tomar foto</button>
</div>

<div class="camera">
    <video id="video">Video stream not available.</video>
    <img id="photo" alt="The screen capture will appear in this box."> 
      
  </div>
  <canvas id="canvas">
  </canvas>
  

<div class="contenedor_botones">
    <div class="row">
        <div class="col-3 cancel_button">
            <button class="btn btn-danger">Cancelar</button>
        </div>
        <div class="col-4"></div>
        <div class="col-3 next_button">
            <button class="btn btn-success">Siguiente</button>
        </div>
    </div>
    
    
</div>

