
#container-codigo{
    width: 15rem;
    
}


#pick_button{
    text-align: center;
}

.camera{
    
    text-align: center;
    margin-bottom: 30px;
}
    
    
    #canvas{
        display: none;
    }

.hidden{
    display: none;
}
.visible{
    display: inline-block;
}


.contenedor_botones{
    text-align: end;
    margin-left: 7%;
}

#text_description{
    width: 75%;
    height: 130px;
}
#problema{
    text-align: center;
    margin-bottom: 20px;
}