<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Codigo QR</h3>
                <div class="container">
                    <zxing-scanner class="text-center m-3 p-3" *ngIf="scannerEnabled" #scanner
                        (scanSuccess)="scanSuccessHandler($event)">
                    </zxing-scanner>
                    <h6 *ngIf="!scannerEnabled">{{bicicletaReporte}}</h6>
                    <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button"
                        class="btn btn-success">INTENTAR
                        DE NUEVO</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Foto del problema </h3>
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div>
                <canvas id="canvas">
                </canvas>
                <div id="pick_button" class="pick_button">
                    <button class="btn btn-primary" id="startbutton">Tomar foto</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Problema</h3>
                <div id="problema">
                    <div id="descripcion">
                        <textarea id="w3review" name="w3review" rows="4" cols="62"
                            placeholder="Breve descripcion del problema" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="contenedor_botones">
            <button id='cancel_button' class="btn btn-outline-default float-left">Cancelar</button>
            <button class="btn btn-outline-primary float-right">Reportar</button>
        </div>
    </div>
</div>