<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Horarios</h3>
            </div>
            <div class="card-body">
                <p class="card-text pl-5">
                    Lunes a Viernes <br>
                    07:00 - 16:00
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary btn-round">
                    <i class="fa fa-edit"></i>
                    Editar Horarios
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Requisitos</h3>
            </div>
            <div class="card-body">
                <p class="card-text pl-5">
                    - Aceptar el acuerdo de la pag <br>
                    - LLevar Casco <br>
                    - No tener multas
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary btn-round">
                    <i class="fa fa-edit"></i>
                    Editar Requisitos
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Estaciones</h3>
            </div>
            <div class="card-body">
                <div class="embed-responsive embed-responsive-4by3 map-container">
                    <iframe
                        src="https://www.google.com/maps/d/u/0/embed?mid=12RG-ocEUlEzVV34-qXUZ757vt-qtN4dE"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Comunidad</h3>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-outline-primary btn-round">
                    <i class="fa fa-plus-circle"></i>
                    Escribir en el foro
                </button>
                <div class="row">
                    <div class="col-12 col-xl-3">
                        <div class="card text-left">
                            <div class="card-header border-bottom">
                                <button class="btn btn-outline-primary btn-fab btn-icon btn-round mt-0 float-right"><i
                                        class="fa fa-trash"></i></button>
                                <h6 class="card-subtitle mt-2">Bajar Despacio</h6>
                                <p class="text-muted">Michael Arce</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ir con precaucion en la bajada de la parada de rectorado, es muy
                                    peligroso
                                </p>
                                <small class="text-muted">Publicado hace 10 min</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card text-left">
                            <div class="card-header border-bottom">
                                <button class="btn btn-outline-primary btn-fab btn-icon btn-round mt-0 float-right"><i
                                        class="fa fa-trash"></i></button>
                                <h6 class="card-subtitle mt-2">Usar Casco</h6>
                                <p class="text-muted">Josue Tomala</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Usar casco me previno de tener una lesion grave, así que usenlo
                                    siempre!!!
                                </p>
                                <small class="text-muted">Publicado hace 10 min</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card text-left">
                            <div class="card-header border-bottom">
                                <button class="btn btn-outline-primary btn-fab btn-icon btn-round mt-0 float-right"><i
                                        class="fa fa-trash"></i></button>
                                <h6 class="card-subtitle mt-2">Cuiden las Bicicletas</h6>
                                <p class="text-muted">Hector Rizzo</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Por favor, este servicio lo usamos todos... Cuiden las bicicletas
                                </p>
                                <small class="text-muted">Publicado hace 10 min</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>