<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-12 col-xl-10">
        <a href="./#/client-layout/disponibles">
            <div class="card card-image" data-background-color="red" data-color="white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 col-md-9 col-xl-9">
                            <h3 class="card-title">Bicicletas Disponibles</h3>
                        </div>
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="assets/img/check.png" class="nc-icon" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="./#/client-layout/prestamo">
            <div class="card card-image" data-background-color="red" data-color="white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 col-md-9 col-xl-9">
                            <h3 class="card-title">Prestamo de Bicicletas</h3>
                        </div>
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="assets/img/bici.png" class="nc-icon" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="./#/client-layout/reporte">
            <div class="card card-image" data-background-color="red" data-color="white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 col-md-9 col-xl-9">
                            <h3 class="card-title">Reporte de Bicicleta</h3>
                        </div>
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="assets/img/excla.png" class="nc-icon" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="./#/client-layout/foro">
            <div class="card card-image" data-background-color="red" data-color="white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 col-md-9 col-xl-9">
                            <h3 class="card-title">Foro de Informacion</h3>
                        </div>
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="assets/img/news.png" class="nc-icon" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>