<div class="row">
    <div class="col-sm-12">
        <div class="card card-image" data-background-color="red">
            <div class="card-body" >
                <p class="card-header card-header-info" >Bicicletas Disponibles</p>
                <div class="image" >
                    <img src="assets/img/bici.png" alt="...">
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="col-sm-12">
                    <div class="stats">
                        <p class="card-header card-header-info">Bicicletas Disponibles</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="col-sm-12">
                <h4 class="card-header card-header-info">Bicicletas Disponibles</h4>
            </div>  
            <div class="card-body ">
                <div class="col-sm-12">
                    <p class="card-title">Bicicletas Disponibles</p>
                    <hr>
                </div>  
                
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-body ">
                <p class="card-header card-header-info">Bicicletas Disponibles</p>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-body ">
                <p class="card-header card-header-info">Bicicletas Disponibles</p>
            </div>
        </div>
    </div>
</div>