<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-12 col-xl-10">
        <div class="card card-image" data-background-color="red" data-color="white">
            <div class="card-body" >
                <div class="row">
                    <div class="col-8 col-md-9 col-xl-9">   
                        <h3 class="card-title">Añadir / Quitar Bicicleta</h3>
                    </div>
                    <div class="col-4 col-md-3 col-xl-2" >
                        <img src="assets/img/check.png" class="nc-icon" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-image" data-background-color="red" data-color="white">
            <div class="card-body" >
                <div class="row">
                    <div class="col-8 col-md-9 col-xl-9">
                        <h3 class="card-title">Administrar Bicicletas</h3>
                    </div>
                    <div class="col-4 col-md-3 col-xl-2" >
                        <img src="assets/img/bici.png" class="nc-icon" alt="...">
                    </div>
                </div>
            </div>
        </div>
            <div class="card card-image" data-background-color="red" data-color="white">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-8 col-md-9 col-xl-9">
                            <h3 class="card-title">Fuera de servicio</h3>
                        </div>
                        <div class="col-4 col-md-3 col-xl-2" >
                            <img src="assets/img/excla.png" class="nc-icon" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        <div class="card card-image" data-background-color="red" data-color="white">
            <div class="card-body" >
                <div class="row">
                    <div class="col-8 col-md-9 col-xl-9">
                        <h3 class="card-title">Administrar Foro de Informacion</h3>
                    </div>
                    <div class="col-4 col-md-3 col-xl-2" >
                        <img src="assets/img/news.png" class="nc-icon" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>