<h2 class="text-muted">Paraderos</h2>
<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-12 col-xl-10">
        <div class="card card-image" data-background-color="prussian_blue" data-color="white">
            <img class="card-img-top" src="assets/img/Rectorado2.jpg" alt="Card s cap" />
            <div class="card-body" >
                <div class="row">
                    <div class="col-8 col-md-9 col-xl-10">   
                        <h3 class="card-title">Entrada/Garita</h3>
                    </div>
                    <div class="col-4 col-md-3 col-xl-2" >
                        <h2>15</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-image" data-background-color="prussian_blue" data-color="white">
            <img class="card-img-top" src="assets/img/Garita.jpg" alt="Card s cap" />
            <div class="card-body" >
                <div class="row">
                    <div class="col-8 col-md-9 col-xl-10">
                        <h3 class="card-title">Rectorado</h3>
                    </div>
                    <div class="col-4 col-md-3 col-xl-2" >
                        <h2>30</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


