<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-12 col-xl-8">
        <div class="card text-center">
            <div class="card-body">
            <h4 class="card-title">Hora de Préstamo</h4>
            <p class="card-text">02/12/2020 - 16:00</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
            <h4 class="card-title">Tiempo Préstamo</h4>
            <p class="card-text">15 minutos</p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-default float-left">Cancelar</button>
            <button type="button" class="btn btn-outline-primary float-right">Aceptar</button>
        </div>
    </div>
</div>